<!DOCTYPE html>
<html>
  <head>
    <%= require('../../partials/head.html?raw') %>
    <title>About</title>
  </head>
  <body>
    <%= require('../../partials/header.html?raw') %>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text-center">About</h1>
            <img
              class="img-fluid"
              src="<%= require('../../assets/images/banner.jpg') %>"
            />
          </div>
        </div>
      </div>
    </section>

    <%= require('../../partials/footer.html?raw') %>
  </body>
</html>
